<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fahrkartenautomat-JMExample</title>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
        <script src="js/ticketmachine.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>  
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/app.css"/>

    </head>
    <body >
        <div ng-app="ticketmachine" ng-controller="TicketMachineController as ticketMachineController">

            <div class="page-header">
                <h1>Fahrkartenautomat</h1>
            </div>

            <div class="ticket-form">
                <div class="row">
                    <div class="col-md-1">Zone:</div>
                    <div class="col-md-1">
                        <div>                
                            <select id="zoneSelector"  ng-model="ticketMachineController.zone">
                                <option  ng-repeat="c in ticketMachineController.zones">{{c}}</option>
                            </select>
                        </div>
                    </div>  
                </div>

                <div class="row">
                    <div class="col-md-1">Bezahlung: </div>
                    <div class="col-md-1">
                        <div>        
                            <select id="paymentSelector" ng-model="ticketMachineController.payment">
                                <option ng-repeat="c in ticketMachineController.payments">{{c}}</option>	  
                            </select>
                        </div>
                    </div>  
                </div>   

                <div class="row">
                    <div class="col-md-1">Tarif: </div>
                    <div class="col-md-1">
                        <div>                
                            <select id="tarifSelector" ng-model="ticketMachineController.tarif">
                                <option ng-repeat="c in ticketMachineController.tarifs">{{c}}</option>
                            </select>
                        </div>      
                    </div>  
                </div>   

                <div class="row classWithPad">
                    <div class="col-md-2">
                        <div>        
                            <button id="triggerCalculate" class="btn btn-primary" ng-click="ticketMachineController.calculatePrice()">Fahrtkosten berechnen</button>
                        </div>
                    </div>                
                </div>   


                <div class="row">
                    <div class="col-lg-1 classWithPad"><h4>Preis(€)</h4> </div>
                    <div class="col-lg-1 classWithPad">                    
                        <div>                            
                            <h4><span id="price" class="label label-success" ng-bind="ticketMachineController.price"></span></h4>
                        </div>                          
                    </div>                
                </div>   
            </div>     
        </div>
    </body>
</html>
